.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: baseline;
  gap: 16px;
}

.example-card {
  max-width: 400px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card-item {
  flex: 1 1 calc(50% - 16px);
  max-width: calc(50% - 16px);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@media (max-width: 600px) {
  .card-item {
    flex: 1 1 calc(100% - 16px);
    max-width: calc(100% - 16px);
  }
}
