<div class="search-container">
  <mat-form-field appearance="outline">
    <mat-label>Buscar por nombre</mat-label>
    <input matInput type="text" [(ngModel)]="searchValue" />
    <button mat-icon-button matSuffix aria-label="Buscar por nombre">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="goCreate()">Crear</button>
</div>

<div class="card-container">
  @if (superHeroes$() | async; as superHeroes){ @for (superHeroe of superHeroes;
  track $index) {
  <mat-card class="example-card card-item">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ superHeroe.name }}</mat-card-title>
        <mat-card-subtitle>{{ superHeroe.fullName }}</mat-card-subtitle>
        <img mat-card-sm-image [src]="superHeroe.image" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{ superHeroe.publisher }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goEdit(superHeroe.id)">Editar</button>
      <button
        mat-button
        (click)="openDialog('0ms', '0ms', superHeroe.id, superHeroe.name)"
      >
        Borrar
      </button>
    </mat-card-actions>
  </mat-card>

  }@empty {No hay heroes en la base de datos} }@else {
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  }
</div>
